<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/Geral.css">
    <link rel="stylesheet" href="../css/forca.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forca.io</title>
</head>
<body>
    <header id="nomeDaSala">
<h1>Forca</h1>
    </header>
    <section>
    <div id="hankGeral">
    <div id="pontos"> pontos:<span id="pontuacao">0</span></div>
    <div id="vidas"> vidas:<span id="life">5</span></div>
</div>
    <div>
    <div id="lineWord"></div>
    <div id="teclado">
    </div>
    </div>
    </section>
    <script src="../js/forca.js"></script>
</body>
</html>